:root {
  --text-color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Flex Objects */
.flex-object {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: var(--color-text);
  cursor: pointer;
}
