<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The about page of DragunWF." />
    <title>DragunWF | About</title>
    <link rel="icon" href="/public/images/icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/951cb45b31.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <nav class="menu text flex-object">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="skills">Skills</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
    <section class="content">
      <header class="text">
        <h2 class="logo">DragunWF</h2>
        <i class="fa-solid fa-bars toggle flex-object" id="navIcon"></i>
      </header>
      <video
        src="/public/videos/background.mp4"
        muted
        autoplay
        playsinline
        loop
      ></video>
      <div class="overlay"></div>
      <div class="page-container text flex-object" data-aos="fade-right">
        <h1 id="about-header">About Me</h1>
        <p class="page-description" id="p0">
          Hi there, welcome to my about page where I display various information
          about this website and myself. As some of you may have guessed; this
          website is named after my alias on the internet, DragunWF / DragonWF.
        </p>
        <p class="page-description" id="p1">
          I first learned about programming and software development back in
          2019 with the Godot engine coding games and stuff; during that time I
          didn't have a proper learning path and I wasn't really doing as much
          coding during that time so I pretty much didn't improve as much. It
          was on October 11 2021, when I actually started to learn programming
          and software development seriously.
        </p>
        <p class="page-description" id="p2">
          All the way throughout my first few months of learning programming in
          2021. I developed a fascination in software development and pretty
          much only did programming and coding from day to night. It was a huge
          turning point in my daily life. As it was the most productive months
          I've ever had as I learned a lot about software development and got
          rid of my bad habits of gaming too much in my free time.
        </p>
        <p class="page-description" id="p3">
          During those first few months of learning intensively, I branched out
          to many different areas in software engineering such as web
          development, game development, automation, and bots. There I realized
          how fascinating everything was in the art of creating software and
          decided that it's what I want to do when I get out of school and
          finish college. It's to make it my lifelong career.
        </p>
        <p class="page-description" id="p4">
          The deeper I got into learning software development the more I
          developed an interest to other things in the field of Information
          Technology. As I developed those other interests, I surprisingly also
          developed a strong interest in mathematics.
        </p>
        <p class="page-description" id="p5">
          I myself never thought I'd develop a strong interest in math as I
          never really thought much about it before I started learning about
          programming and software development. What got me interested in it was
          when I realized how much it helped me in game development.
          Specifically Trigonometry and Linear Algebra as well as Probability
          and Statistics. It pushed me to review and restudy those topics.
        </p>
        <p class="page-description" id="p6">
          As of now, I'm just continuing with my self-studies and preparing for
          college. I'm just accumulating knowledge about my future profession. I
          shall continue on my quest to become a software developer in the
          future. Onwards!
        </p>
        <p class="page-description" id="p7">
          Congrats! You have reached the end of my probably not so interesting
          about me page but I sure do hope it at least brought upon a positive
          reaction. If you want place to go hang out with my community, you can
          go join my
          <a href="/socials/discord" target="_blank" class="text-links"
            >discord server</a
          >.
        </p>
        <div class="about-buttons flex-object">
          <button id="back">Back</button>
          <button id="next">Next</button>
        </div>
      </div>
    </section>
    <script src="/public/js/about.js"></script>
    <script src="/public/js/nav.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
