<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The about page of DragunWF." />
    <title>DragunWF | About</title>
    <link rel="icon" href="/public/images/icon.png" />
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/951cb45b31.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <nav class="menu text flex-object">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="skills">Skills</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
    <section class="content">
      <header class="text">
        <h2 class="logo">DragunWF</h2>
        <i class="fa-solid fa-bars toggle flex-object" id="navIcon"></i>
      </header>
      <video
        src="/public/videos/background.mp4"
        muted
        autoplay
        playsinline
        loop
      ></video>
      <div class="overlay"></div>
      <div class="page-container text flex-object" data-aos="fade-right">
        <h1 id="about-header">About Me</h1>
        <p class="page-description" id="p0">
          Hello, I'm an aspiring software developer with a passion for
          programming and learning about software development. I spent my high
          school years learning and self-studying about programming and the art
          of creating software; it was there that I realized my passion lay in
          creating the logic of software applications and decided that this
          would be my lifelong career. Thus, I embarked on a long quest to
          become a software developer.
        </p>
        <p class="page-description" id="p1">
          I develop a wide variety of software. I'm into full-stack web
          development and game development. I've built websites, video games,
          discord bots, automation bots, and desktop applications over the
          course of my journey. I'm looking forward on expanding my experience
          to more types of software.
        </p>
        <p class="page-description" id="p2">
          My interests aren't limited to software development. I'm also into
          other things in the field of computer science and information
          technology like computer networking, database administration,
          cybersecurity, and operating systems. I'm quite familiar in utilizing
          Windows, Linux, and macOS. The Linux distros I've used so far are
          Ubuntu and Mint.
        </p>
        <p class="page-description" id="p3">
          Congrats! It seems like you've reached the end of this "about me"
          section. It's not much, but yeah. If you want to join my community, I
          have a
          <a href="/socials/discord" target="_blank" class="text-links"
            >Discord server</a
          >
          that you can join. If you want to see my projects, you can go visit to
          my
          <a href="/socials/github" target="_blank" class="text-links"
            >GitHub page</a
          >, and if you want to play my games, you can go to my
          <a href="socials/itch.io" target="_blank" class="text-links"
            >itch.io page</a
          >.
        </p>
        <div class="about-buttons flex-object">
          <button id="back">Back</button>
          <button id="next">Next</button>
        </div>
      </div>
    </section>
    <script src="/public/js/about.js"></script>
    <script src="/public/js/nav.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
