<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A page where you can send a message to DragunWF."
    />
    <title>DragunWF | Message Form</title>
    <link rel="icon" href="/public/images/icon.png" />
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <link rel="stylesheet" href="/public/css/styles-misc.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/951cb45b31.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header class="text flex-object">
      <h1>Message Form</h1>
    </header>
    <section class="content text flex-object">
      <div class="container form-container" data-aos="zoom-in">
        <form
          name="message"
          action="https://formspree.io/f/mqknejlk "
          method="POST"
        >
          <h2>Name: (Optional)</h2>
          <input
            type="text"
            name="name"
            placeholder="Your name/username (Optional)"
            id="formName"
          />
          <h2>Message:</h2>
          <textarea
            name="message"
            cols="30"
            rows="10"
            placeholder="Feel free to leave me a message here!"
            id="formTextArea"
          ></textarea>
          <div class="form-buttons flex-object">
            <button type="button" class="button-misc" id="submit">
              Submit
            </button>
            <button type="button" class="button-misc" id="reset">Reset</button>
          </div>
        </form>
      </div>
      <div data-aos="zoom-in">
        <div class="button-misc return-to-home">
          <a href="/" class="text">Back to Home Page</a>
        </div>
      </div>
    </section>
    <footer class="flex-object">
      <span class="footer-text text"
        >&copy; DragunWF |
        <a
          href="https://github.com/DragunWF/dragunwf.herokuapp.com"
          target="_blank"
          class="text-link"
          >Source</a
        ></span
      >
    </footer>
    <script src="/public/js/form.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
