<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DragunWF | Problems Solved</title>
    <link rel="icon" href="/public/images/icon.png" />
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <link rel="stylesheet" href="/public/css/styles-misc.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <header class="text flex-object">
      <h1>Competitive Programming</h1>
    </header>
    <section class="content">
      <div class="container"></div>
    </section>
    <footer class="flex-object">
      <span class="footer-text text"
        >&copy; DragunWF |
        <a
          href="https://github.com/DragunWF/dragunwf.herokuapp.com"
          target="_blank"
          class="text-link"
          >Source</a
        ></span
      >
    </footer>
  </body>
</html>
