<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is where I list the main projects I've created."
    />
    <title>DragunWF | Projects List</title>
    <link rel="icon" href="/public/images/icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <link rel="stylesheet" href="/public/css/styles-misc.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/951cb45b31.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header class="text flex-object">
      <h1>Projects Information</h1>
    </header>
    <section class="content flex-object">
      <div
        class="container projects-container text flex-object"
        data-aos="zoom-in"
      >
        <h2>Projects</h2>
        <ul>
          <li>
            <a
              href="https://github.com/DragunWF/Ancalagon"
              target="_blank"
              class="project-title text-link"
              >Ancalagon</a
            >
            - A discord bot written in JavaScript personalized for my discord
            server.
          </li>
          <li>
            <a
              href="https://github.com/DragunWF/Cookie-Clicker-Bot"
              target="_blank"
              class="project-title text-link"
              >Cookie Clicker Bot</a
            >
            - A bot powered with Selenium that automates the game, Cookie
            Clicker.
          </li>
          <li>
            <a
              href="https://github.com/DragunWF/TypeRacer-Bot"
              target="_blank"
              class="project-title text-link"
              >TypeRacer Bot</a
            >
            - A bot that automates typeracer.com. In practice mode of course.
          </li>
          <li>
            <a
              href="https://dragonwf.itch.io/mage-alteration"
              target="_blank"
              class="project-title text-link"
              >Mage Alteration</a
            >
            - My submission for the 2021 PyGame community new years game jam.
          </li>
          <li>
            <a
              href="https://dragonwf.itch.io/blue-warcook"
              target="_blank"
              class="project-title text-link"
              >Blue Warcook</a
            >
            - A shooter game made from scratch with Python and PyGame.
          </li>
          <li>
            <a
              href="https://dragonwf.itch.io/galactic-n-guns"
              target="_blank"
              class="project-title text-link"
              >Galactic n' Guns</a
            >
            - A space shooter game made from scratch with Python and PyGame.
          </li>
          <li>
            <a
              href="https://github.com/DragunWF/Python-Mini-Projects/blob/main/scripts/school/auto_join_zoom.py"
              target="_blank"
              class="project-title text-link"
              >AutoJoinZoom.exe</a
            >
            - A script programmed with Python used to automatically join my zoom
            classes.
          </li>
          <li>
            <a
              href="https://dragonwf.netlify.app/"
              target="_blank"
              class="project-title text-link"
              >dragonwf.netlify.app</a
            >
            - My old personal website.
          </li>
          <li>
            <a
              href="https://github.com/DragunWF/DragonBot"
              target="_blank"
              class="project-title text-link"
              >DragonBot</a
            >
            - A discord bot written in Python. This was my first big project
            with Python.
          </li>
        </ul>
      </div>
      <div
        class="container projects-container text flex-object"
        id="moreInfo"
        data-aos="zoom-in"
      >
        <h2>More Projects</h2>
        <p>
          If you want to checkout my latest games, you can check out my
          <a href="/socials/itch.io" target="_blank" class="text-link"
            >itch.io page</a
          >
          or if you just want to take a look at all of my latest projects; you
          can take a look at my
          <a href="/socials/github" target="_blank" class="text-link"
            >GitHub page</a
          >.
        </p>
      </div>
      <div data-aos="zoom-in">
        <div class="button-misc return-to-home">
          <a href="/" class="text">Back to Home Page</a>
        </div>
      </div>
    </section>
    <footer class="flex-object">
      <span class="footer-text text"
        >&copy; DragunWF |
        <a
          href="https://github.com/DragunWF/dragunwf.netlify.app"
          target="_blank"
          class="text-link"
          >Source</a
        ></span
      >
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
