<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is where I list my skills and the things I know about software development."
    />
    <title>DragunWF | Skills (More)</title>
    <link rel="icon" href="/public/images/icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <link rel="stylesheet" href="/public/css/styles-misc.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/951cb45b31.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header class="text flex-object">
      <h1>Skills</h1>
    </header>
    <div class="content skills-content flex-object text">
      <section class="skills-containers">
        <div class="skills-container-section">
          <div class="container disclaimer" data-aos="fade-right">
            <h2>Known Languages</h2>
            <p>This includes both programming and markup languages</p>
            <ul>
              <li>Python</li>
              <li>JavaScript</li>
              <li>HTML/CSS</li>
              <li>SQL</li>
            </ul>
          </div>
          <div class="container" data-aos="fade-right">
            <h2>Miscellaneous</h2>
            <ul>
              <li>100 WPM+ Typing Speed</li>
              <li>4 Kyu CodeWars</li>
              <li>Gimp</li>
              <li>Pixelorama</li>
            </ul>
          </div>
        </div>
        <div class="skills-container-section">
          <div class="container disclaimer" data-aos="fade-left">
            <h2>Technologies</h2>
            <p>This excludes languages listed in the languages section</p>
            <ul>
              <li>
                <b>Web Development:</b>
                <br />
                <span class="skills-text">Node.js, Express.js, jQuery</span>
              </li>
              <li>
                <b>Game Development:</b>
                <br />
                <span class="skills-text">PyGame</span>
              </li>
              <li>
                <b>Bots/Automation:</b>
                <br />
                <span class="skills-text"
                  >Selenium (Python), Discord.js, pyautogui</span
                >
              </li>
              <li>
                <b>Databases:</b>
                <br />
                <span class="skills-text">MySQL</span>
              </li>
              <li>
                <b>Source Control:</b>
                <br />
                <span class="skills-text">Git, GitHub</span>
              </li>
              <li>
                <b>Operating Systems:</b>
                <br />
                <span class="skills-text">Windows, MacOS</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <div data-aos="zoom-in">
        <div class="button-misc return-to-home">
          <a href="/" class="text">Back to Home Page</a>
        </div>
      </div>
    </div>
    <footer class="flex-object">
      <span class="footer-text text"
        >&copy; DragunWF |
        <a
          href="https://github.com/DragunWF/dragunwf.herokuapp.com"
          target="_blank"
          class="text-link"
          >Source</a
        ></span
      >
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
