<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A detailed page with a skills list of DragunWF."
    />
    <title>DragunWF | Skills Information</title>
    <link rel="icon" href="/public/images/icon.png" />
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <link rel="stylesheet" href="/public/css/styles-misc.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/951cb45b31.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="text flex-object">
      <h1>Skills (Outdated Info)</h1>
    </header>
    <div class="content skills-content flex-object text">
      <section class="skills-containers">
        <div class="skills-container-section">
          <div class="container disclaimer" data-aos="fade-right">
            <h2>Known Languages</h2>
            <p>This includes both programming and markup languages</p>
            <ul>
              <% data.languages.forEach(skill => { %>
              <li><%= skill %></li>
              <% }) %>
            </ul>
          </div>
          <div class="container" data-aos="fade-right">
            <h2>Miscellaneous</h2>
            <ul>
              <li>
              <% data.misc.forEach(skill => { %>
              <li><%= skill %></li>
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="skills-container-section">
          <div class="container disclaimer" data-aos="fade-left">
            <h2>Technologies</h2>
            <p>This excludes languages listed in the languages section</p>
            <ul>
              <% data.technologies.forEach(item => { %>
              <li>
                <b><%= item.category %>:</b>
                <br />
                <span class="skills-text"
                  ><%= data.concatenateSkills(item.skills) %></span
                >
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </section>
      <div data-aos="zoom-in">
        <div class="button-misc return-to-home">
          <a href="/" class="text">Back to Home Page</a>
        </div>
      </div>
    </div>
    <footer class="flex-object">
      <span class="footer-text text"
        >&copy; DragunWF |
        <a
          href="https://github.com/DragunWF/dragunwf.herokuapp.com"
          target="_blank"
          class="text-link"
          >Source</a
        ></span
      >
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
