@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-text: #fff;
}

::selection {
  color: var(--color-text);
  background: #046307;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../images/constellations.svg");
  display: grid;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  min-height: 100vh;
}

header {
  background: #111;
  width: 100%;
}

header h1 {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
}

footer {
  background: #111;
  margin-top: 5px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
}

/* Objects */
.flex-object {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: var(--color-text);
  font-size: 1.8rem;
}

.text h1 {
  font-size: 3.3rem;
}

.text h2 {
  font-size: 2.5rem;
}

.text-link {
  color: #5fed5f;
  transition: color 0.15s;
}

.text-link:hover {
  color: #0bb810;
}

/* Main */
.content {
  height: 100%;
  padding-bottom: 80px;
  width: 100%;
}

.container {
  background: #1c001c;
  border-radius: 15px;
  padding: 2.5rem;
}

.container ul {
  line-height: 1.5;
  padding-left: 25px;
}

.container h2 {
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
}

.return-to-home {
  margin-top: 40px;
}

#projectsBackToHomeButton {
  margin-top: 0;
}

.disclaimer h2 {
  margin-bottom: 1.3rem;
}

.disclaimer p {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  text-align: center;
}

.disclaimer ul {
  margin-top: 1.5rem;
}

.footer-text {
  opacity: 0.9;
}

.button-misc {
  background: #fff;
  border-radius: 15px;
  border: 0;
  box-shadow: 5px 5px #c4c4c4;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.25s;
}

.button-misc:hover {
  box-shadow: none;
  transform: translateY(-8px);
}

.button-misc a {
  color: #111;
  padding: 1rem;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .container {
    width: 280px;
  }
}

/* Skills Page */
.skills-containers {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}

.skills-container-section {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(1, 1fr);
}

.skills-text {
  width: 1rem;
}

@media screen and (max-width: 480px) {
  .skills-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .skills-containers {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Form Page */
.form-container {
  align-items: flex-start;
  margin-top: 30px;
  padding: 3.5rem;
}

.form-container form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.form-container input,
.form-container textarea {
  padding: 0.5rem;
  resize: none;
  transition: all 0.15s;
}

.form-container input:focus,
.form-container textarea:focus {
  border: 1px solid #111;
  box-shadow: 0 0 5px #808080;
  outline: none;
}

.form-container h2 {
  border-bottom: none;
  font-size: 3rem;
  margin-bottom: 10px;
}

.form-buttons {
  flex-direction: row;
  gap: 30px;
  padding-top: 30px;
  width: 100%;
}

/* Projects Page */
.projects-content {
  gap: 35px;
}

.projects-container {
  display: grid;
  padding: 30px;
}

.projects-container h2 {
  font-size: 3rem;
  margin-bottom: 0;
}

.projects-container p {
  line-height: 1.3;
  width: 53rem;
}

.projects-container li {
  width: 50rem;
}

@media screen and (max-width: 780px) {
  .projects-container li,
  .projects-container p {
    width: 390px;
  }
}

@media screen and (max-width: 480px) {
  .projects-container li,
  .projects-container p {
    width: 280px;
  }
}
