@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --overlay-color: purple;
  --color-text: #fff;
  --color-text-secondary: #111;
}

::selection {
  color: var(--color-text);
  background: #9966cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Objects */
.flex-object {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: var(--color-text);
  z-index: 10;
}

.text h1 {
  font-size: 3.5rem;
}

.text h2 {
  font-size: 2.5rem;
}

.text-links {
  border-bottom: 0.1em solid var(--color-text);
  color: var(--color-text);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.15s;
}

.text-links:hover {
  border-bottom: 0.1em solid #c9c9c9;
  color: #c9c9c9;
}

.text-bold {
  font-weight: 600;
}

.page-description {
  padding-top: 10px;
}

.more-btn {
  margin-top: 25px;
}

@media screen and (max-width: 480px) {
  .text h1 {
    font-size: 5rem;
  }

  .text h2 {
    font-size: 3rem;
  }

  .text h3 {
    font-size: 1rem;
  }
}

/* Header */
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 40px 100px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

header .logo {
  color: var(--color-text);
  padding-top: 5px;
}

.toggle {
  cursor: pointer;
  font-size: 3rem;
  height: 60px;
  position: relative;
  width: 60px;
}

.toggle.active {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .logo {
    padding-left: 2rem;
  }
}

/* Navigation Menu */
.menu {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  z-index: -1;
}

.menu ul {
  position: relative;
}

.menu ul li {
  list-style: none;
  padding-bottom: 0.6rem;
}

.menu ul li a {
  color: var(--color-text-secondary);
  font-size: 2.8rem;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.menu ul li a:hover {
  color: #03a9f4;
}

#navIcon {
  display: flex;
  padding-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .menu {
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    width: 200px;
  }

  #navIcon {
    margin-left: 45px;
    padding-bottom: 0;
    padding-left: 107px;
    padding-top: 2px;
  }
}

/* Content */
.content {
  align-items: center;
  background: var(--color-text-secondary);
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  position: absolute;
  right: 0;
  transition: all 0.75s;
  width: 100%;
  z-index: 2;
}

.content.active {
  right: 300px;
}

.content video {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlay {
  background: var(--overlay-color);
  height: 100%;
  left: 0;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  width: 100%;
}

.page-container {
  align-items: flex-start;
  padding-left: 100px;
  text-align: left;
  text-shadow: 3px 3px var(--overlay-color);
  transition: all 0.5s;
}

.page-container h1 {
  font-size: 6.5rem;
  margin-bottom: 0.8rem;
}

.page-container h2 {
  font-size: 5.5rem;
}

.page-container p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  width: 70rem;
}

.home-socials {
  padding-top: 1.5rem;
}

.home-socials ul {
  flex-direction: row;
  gap: 1rem;
  padding-top: 1rem;
}

.home-socials li {
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px #c4c4c4;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  list-style: none;
  margin-right: 2rem;
  transition: all 0.25s;
}

.home-socials li:hover {
  background: #e8e8e8;
  box-shadow: none;
  transform: translateY(-8px);
}

.social-item {
  color: var(--color-text-secondary);
  display: block;
  font-size: 1.8rem;
  height: 100%;
  padding: 1.2rem;
  text-decoration: none;
  text-shadow: none;
  width: 100%;
}

#infoBtn {
  color: var(--color-text-secondary);
  text-decoration: none;
  text-shadow: none;
}

#home-text p {
  padding-top: 30px;
}

@media screen and (max-width: 1024px) {
  .page-container,
  .content header {
    padding-left: 60px;
  }

  .content.active {
    right: 250px;
  }
}

@media screen and (max-width: 780px) {
  .page-container h1 {
    font-size: 5.5rem;
  }

  .page-container h2 {
    font-size: 3.5rem;
  }

  .page-container p {
    width: 95%;
  }

  .home-socials li {
    display: inline-block;
    margin-top: 2rem;
    vertical-align: top;
  }

  .social-item a {
    font-size: 1.5rem;
  }

  #home-text p {
    padding-top: 15px;
  }
}

@media screen and (max-width: 480px) {
  .page-container,
  .content header {
    align-items: center;
    padding-left: 10px;
    text-align: center;
  }

  .content.active {
    right: 200px;
  }

  .page-container h1 {
    font-size: 5.1rem;
    margin-bottom: 0.8rem;
  }

  .page-container h2 {
    font-size: 3rem;
  }

  .page-container p {
    width: 93%;
  }

  .home-socials {
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 0;
  }

  .home-socials ul {
    margin: 0 auto;
    text-align: center;
  }

  .home-socials li {
    display: inline-block;
    margin-top: 2rem;
    vertical-align: top;
  }

  .social-item a {
    font-size: 1.4rem;
  }
}

/* About Page */
.about-buttons {
  flex-direction: row;
  gap: 35px;
  margin-top: 25px;
}

.about-buttons button,
.more-btn {
  background: #fff;
  border-radius: 5px;
  border: 0;
  box-shadow: 5px 5px #c4c4c4;
  color: var(--color-text-secondary);
  font-size: 2.2rem;
  padding: 1rem;
  transition: all 0.25s;
}

.about-buttons button:hover,
.more-btn:hover {
  background: #e8e8e8;
  box-shadow: none;
  cursor: pointer;
  transform: translateY(-8px);
}

#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7 {
  display: none;
}

@media screen and (max-width: 480px) {
  #p0,
  #p1,
  #p2,
  #p3,
  #p4,
  #p5,
  #p6,
  #p7 {
    text-align: left;
  }
}
